body {
    background-color: darksalmon;
    font-family: cursive;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
}


table#table1 {
    height: 50px;
    width: 250px;
    margin-left: 636px;

}

#firstColor {
    background-color: blue;
    width: 50px;
    padding: 10px;
    margin: 5px;
    border: 5px solid black;
}

#secondColor {
    background-color: crimson;
    width: 50px;
    padding: 10px;
    margin: 5px;
    border: 5px solid black;
}

#thirdColor {
    background-color: deeppink;
    width: 50px;
    padding: 10px;
    margin: 5px;
    border: 5px solid black;

}

#fourthColor {
    background-color: chartreuse;
    width: 50px;
    padding: 10px;
    margin: 5px;
    border: 5px solid black;
}

#fifthColor {
    background-color: fuchsia;
    width: 50px;
    padding: 10px;
    margin: 5px;
    border: 5px solid black;
}

#clearCell {
    background-color: blueviolet;
    width: 250px;
    height: 50px;
    position: absolute;
    top: 600px;
    left: 200px;
    font-size: 2em;
    border: 2px double black;
}

#clearBoard {
    background-color: blueviolet;
    width: 250px;
    height: 50px;
    position: absolute;
    top: 600px;
    left: 1150px;
    font-size: 2em;
    border: 2px double black;
}

.row {
    display: table-row;

}

.pixel {
    display: table-cell;
    background-color: white;
    height: 50px;
    width: 50px;
    border: 2px solid purple;
    position: relative;
    top: 25px;
    left: 550px;

}
# PixelArt pixelArtTool.html pixelArtTool.js
