body {
    background-color: darksalmon;
    font-family: cursive;
}

h1 {
    text-align: center;
/*    font-size: 30px;*/
}

h2 {
    text-align: center;
/*    font-size: 25px;*/
}

#selectColors {
    display: block;
    margin-left: 610px;
}

.jscolor {
    height: 10px;
    padding: 5px 0 5px;
    margin: 10px;
}


#clearCell {
    background-color: blueviolet;
    width: 250px;
    height: 50px;
    position: absolute;
    top: 600px;
    left: 200px;
    font-size: 2em;
    border: 2px double black;
}

#clearBoard {
    background-color: blueviolet;
    width: 250px;
    height: 50px;
    position: absolute;
    top: 600px;
    left: 1150px;
    font-size: 2em;
    border: 2px double black;
}

.row {
    display: table-row;

}

.pixel {
    display: table-cell;
    background-color: white;
    height: 50px;
    width: 50px;
    border: 2px solid purple;
    position: relative;
    top: 10px;
    left: 550px;

}
